.BN1 {
     display: flex; justify-content: center; 
}
.BN3 {
     justify-content: center;
     display: flex;
}
.BN4 {
     display: flex;
     justify-content: center;
     height: 424px;
}
.BN5 {
     display: flex;
     justify-content: center;
}
 